<div class="container footer-b">
  <div class="col-md-4">
    <a target="_blank" href="https://github.com/vivekbharatha/NLC" ><i class="fa fa-github fa-3" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-4">
    <p class="me">Made with Love ♥ by <a target="_blank" href="https://www.linkedin.com/pub/vivek-bharatha/49/b33/a76">Vivek Bharatha</a> :)</p>
  </div>
  <div class="col-md-4">
    <a target="_blank" href="https://www.freecodecamp.org/challenges/build-a-nightlife-coordination-app">Project use case</a>
  </div>
</div>
