.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: rgb(44, 44, 44);
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-text {
  margin-left: 15px;
}

.bar-image {
  width: 100px;
  max-height: 100px;
}

.bar {
  position: relative;
  display: block;
  height: 110px;
  margin-top: 5px;
  border: 1px solid #c8c8c8;
}

.bar img {
  float: left;
  display: inline;
}

.bar a {
  float: left;
  display: inline;
  margin-left: 5px;
}

.bar p {
  display: block;
  margin-left: 5px;
}

.going {
  position: absolute;
  top: 5px;
  right: 5px;
}